@font-face {
    font-family: 'Unchained Display';
    src: url('Unchained-Display.woff2') format('woff2'),
        url('Unchained-Display.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strong Sword';
    src: url('StrongSword-Bold.woff2') format('woff2'),
        url('StrongSword-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strong Sword';
    src: url('StrongSword-Regular.woff2') format('woff2'),
        url('StrongSword-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

